.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "main main . . "
    "footer footer footer footer";
}

@media (max-width: 600px) {
  .grid {
    grid-template-areas:
      "header header header header"
      "main main main main"
      "sidebar sidebar sidebar sidebar"
      "footer footer footer footer";
  }
}

.grid-item {
  background-color: blueviolet;
  padding: 1rem;
}

.grid-item:nth-child(1) {
  grid-area: header;
  background-color: aquamarine;
}

.grid-item:nth-child(2) {
  grid-area: main;
  background-color: rgb(15, 46, 73);
}

.grid-item:nth-child(3) {
  grid-area: sidebar;
  background-color: blue;
}

.grid-item:nth-child(4) {
  grid-area: footer;
  background-color: brown;
}
